html {
  scroll-behavior: smooth;
}

body {
  max-width: 375px;
  margin: auto;
  background: #000;
  color: #fff;
}

header {
  background-image: url(../img/fond.webp);
  margin-bottom: 30px;
}

.header-border {
  border: solid transparent;
  border-width: 4px 0;
  border-image: linear-gradient(to left, #0000, #6ef0ff);
  border-image-slice: 1;
}

.menu {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.menu img {
  max-height: 45px;
  width: 100%;
}

footer {
  text-align: right;
  padding-right: 30px;
  margin-right: 30px;
  border-style: solid;
  border-width: 0 4px 4px 0;
  border-image: linear-gradient(#0000, #6ef0ff) 1;
}

.border-top-footer {
  border-top: solid 4px;
  border-image: linear-gradient(to left, #0000, #6ef0ff) 1;
}

footer p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  margin: auto;
}

h2 {
  font-family: "subway-new-york-std", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  background: linear-gradient(-50deg, #ff00ff 0%, #4faab4 87%, #9bcada 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  border-style: solid;
  border-width: 0 0 4px 0;
  border-color: #6ef0ff80;
  padding-left: 6px;
  margin: 20px 0 30px 20px;
}

h3 {
  color: #abd5f4;
  display: inline-block;
  margin: 0 30px 20px 30px;
  font-family: "source-sans-3-variable", sans-serif;
  font-weight: 800;
}

.border-bottom {
  position: relative;
}

.border-bottom::after {
  content: "";
  width: 50%;
  height: 4px;
  background: #6ef0ff80;
  position: absolute;
  bottom: 20px;
  left: 30px  ;
}

p {
  font-family: "source-sans-3-variable", sans-serif;
  font-size: 18px;
  margin: 0 30px 30px 30px;
}

.section p:last-of-type{
  margin: 0 30px 20px 30px;
}

.up {
  max-width: 45px;
  position: sticky;
  bottom: 20px;
  left: 10px;
}

.section {
  margin-left: 30px;
}

.border-left {
  position: relative;
}

.border-left:before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, #6ef0ff, #0000);
  clip-path: polygon(0 40.00px,40.00px 0,100% 0,100% 100%,0 100%,0 40.00px,4px  calc(40.00px + 1.66px),4px calc(100% - 4px),calc(100% - 0px) calc(100% - 4px),calc(100% - 0px) 4px,calc(40.00px + 1.66px) 4px,4px calc(40.00px + 1.66px));
}

.portrait {
  max-width: 285px;
  margin: 0 30px 30px;
}

.logo img {
  display: block;
  margin: 20px 5px 0 auto;
  max-width: 320px;
}

footer img {
  max-height: 45px;
  display: block;
  margin: 15px 0 0 auto;
  padding-bottom: 15px;
}

.festival {
  background-image: url(../img/enfant.webp);
}

.graffiti {
  background-image: url(../img/canette.webp);
}

.skate {
  background-image: url(../img/skate.webp);
}

.musique {
  background-image: url(../img/musique.webp);
}

.street-food {
  background-image: url(../img/food.webp);
}

.contact {
  background-image: url(../img/graffiti.webp);
}

.festival,
.graffiti,
.skate,
.musique,
.street-food,
.contact,
header {
  background-repeat: no-repeat;
}